body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f7fa;
}

header {
  color: rgb(27, 22, 22);
  padding: 20px;
}

.dashboard {
  display: flex;
  gap: 15px;
  padding: 20px;
}

.stat {
  flex: 1;
  background: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}
.jobs-section {
  padding: 20px;
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}